.field {
  width: 300px;
  padding: 5px;
  border-radius: 3px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.label {
  text-transform: uppercase;
  color: rgba(53, 89, 144, 0.5);
  font-size: 12px;
  font-weight: 600;
}
